@import "tailwindcss";

:root {
    --navbar-bg: rgba(255, 255, 255, 0.8);
    --navbar-text: #000;

    --overlay-color: rgba(255, 255, 255, 0.1);

    --icon-color: #94c6e9;
    --icon-hover-color: #5e697a;

}

.dark-theme {
    --navbar-bg: #222;
    --navbar-text: #fff;

    --overlay-color: rgba(0, 0, 0, 0.6);

    --icon-color: #9CA3AF;
    --icon-hover-color: #94c6e9;
}